<!DOCTYPE html>
<html lang="en" style="background-color:#343a40"> <!-- $gray-800 from Bootstrap -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>Quick Poll - Respond</title>
</head>
<body>
    <div class="form-container">
        <form class="form-row" action="/respond/n/{{poll_id|safe}}" method="post">
            <div class="form-group">
                <h2><label class="form-label" for="box">{{title}}</label></h2>
                <div class="input-group">
                    {% if 0.0 > minimum %}
                    <div class="input-group-prepend">
                        <input type="button" id="negate" class="btn btn-primary" value="-"/>
                    </div>
                    {% endif %}
                    <input
                            class="form-control" id="box" name="response" type="number" pattern="[0-9]*"
                            {% if integer %}
                            inputmode="numeric" step="1"
                            {% else %}
                            inputmode="decimal" step="any"
                            {% endif %}
                            {% if minimum != -f64::INFINITY %}
                            min="{{minimum|safe}}"
                            {% endif %}
                            {% if maximum != f64::INFINITY %}
                            max="{{maximum|safe}}"
                            {% endif %}
                    />
                </div>
            </div>

            {% if minimum != -f64::INFINITY && maximum != f64::INFINITY %}
            <div class="form-group">
                <input
                        class="form-control-range" id="slider" type="range"
                        {% if integer %}
                        step="1"
                        {% else %}
                        step="any"
                        {% endif %}
                        min="{{minimum|safe}}"
                        max="{{maximum|safe}}"
                />
            </div>
            {% endif %}

            <input class="btn btn-primary" type="submit" value="Submit"/>
        </form>
    </div>
</body>
</html>
