@import "./custom";

html, body {
  height: 100vh;
}

form {
  background-color: $gray-400;
  padding: 1.25rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 100%;
  height: 100%;
  max-width: map-get($container-max-widths, "sm");
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// https://github.com/twbs/bootstrap/issues/32814c
.card-group > .card:last-child {
  margin-bottom: 0;
}

.full-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
}

.qr-code {
  image-rendering: pixelated;
  object-fit: contain;
  width: 100%;
  flex-grow: 1;
}

.light-text {
  color: $gray-200;
}

.run-title {
  @extend .light-text;
  overflow-wrap: break-word;
}

.run-link {
  @extend .light-text;
  word-break: break-all;
}

.run-progress {
  @extend .light-text;
  margin: 0.5rem 0;
}
